---
layout: default
---

  <div id="homeid" class="col-sm-9">
        <h1>Adam Rozman</h1>

	{{ content }}
  </div>

  <div class="col-sm-3" >

      <div id="newsid">
        {% include news.html %}
      </div>

      <div>
        <h2>Get in Touch</h2>
        <p style="padding-left: 20px; line-height: 1.8;">
          <a href="mailto:arozman@bu.edu"><i class="fas fa-envelope"></i> arozman@bu.edu</a><br>
          <a href="https://www.linkedin.com/in/arozman/" target="_blank"><i class="fab fa-linkedin"></i> Connect on LinkedIn</a>
        </p>
      </div>
  </div>
